LocomotionDemoReel/.vs/
LocomotionDemoReel/Binaries/
LocomotionDemoReel/Intermediate/
LocomotionDemoReel/Saved/Config/CrashReportClient/
*.log
LocomotionDemoReel/Saved/Autosaves/
LocomotionDemoReel/Saved/AutoScreenshot.png
LocomotionDemoReel/Saved/webcache_4430/
LocomotionDemoReel/Saved/Crashes/
LocomotionDemoReel/Platforms/HoloLens/
*.sln
LocomotionDemoReel/Saved/Logs/
